section#code-of-conduct {
    height: 120vh;
}

#code-of-conduct h1 {
    padding-left: 5%;
}

#code-of-conduct h2 {
    text-align: center;
}


#code-of-conduct li {
    padding: 10px;
    margin-left: 5%;
}

#agreement {
    font-weight: bold;
}

.continue {
    padding: 30px;
    text-align: center;
}

#btn {
    text-align: center;
    
}