
.note-list {
    list-style: none;
    border-bottom: 2px solid #2b1055;
    margin: 10px;
}

p {
    margin-top: 0;
    padding-top: 0;
}

/* Close Button Styling */
.close-btn {
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
    float: right;
}

.close-btn:hover {
background: rgba(82, 81, 81, 0.5);

}

.close {
height: 30px;
width: 25px;
transform: rotate(90deg);
Z-index: 2;
font-size: 25px;
}
/* Close Button Styling */