
.current-data {
    font-size: 25px;
    margin-left: 5%;
    color: #6e0065;
}

#btn {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: grid;
    padding: 10px 60px;
    border-radius: 40px;
    width: 100px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
}

#btn:hover {
    background: #2b1055;
    color: #fff;
    transition: ease-in 0.3s;
    cursor:pointer;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.update {
    font-size: 35px;
}

.current-data input {
    background: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    border-bottom: 2px solid #2b1055;
    width: 30%;
    height: 30px;
}