{% extends "base.html" %}

{% block title %}Change User Data{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/user_data_style.css') }}"/>{% endblock %}

{% block  content %}

<!-- User inputs to change user data -->
<h1>Update Your Details</h1>
    <form method="POST">
        <h2>Change Email Address:</h2>
        <div class="current-data">
            <input 
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="New Email"
                ></div>
        <h2>Change Name:</h2>
        <div class="current-data">
            <input 
                type="name"
                class="form-control"
                id="name"
                name="name"
                placeholder="New Name"
                ></div>
        <h2>Current Password: [encrypted]</h2><p>*Password not changeable through this page.</p></div>

        <div class='btn'><button type="submit" id="btn">Submit</button></div>
    </form>
<!-- User inputs to change user data -->
{% endblock %}