{% extends "home.html" %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/code_of_conduct_style.css') }}"/>{% endblock %}

{% block content %}
<section id="code-of-conduct">
<h1>End User License Agreement</h1>
<br>
<p>PLEASE READ THIS AGREEMENT CAREFULLY. BY COPYING, INTSALLING, OR USING ALL OR PROPORTIONS OF THIS SOFTWARE, YOU ACCEPT ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT.</p>
<br><br>
<h2>Code of Conduct</h2>
<p>AS THE END USER OF THIS SOFTWARE:</p>
<br>
<ol>
    <li>I will adhere to the commercial licensing and act accordingly to the software’s conditions.</li>
    <li>I will acknowledge any use of the developer’s intellectual property if used in my own purpose.</li>
    <li>I will respect the copyright and any specifications in open-source licensing.</li>
    <li>I will adhere to the Copyright Act 1968.</li>
    <li>I will not break any copyright, trademarks, patents, or registered designs that protect this product and its intellectual property.</li>
    <li>I will not plagiarise the content of this product for my own benefit.</li>
    <li>I will provide the developer with any information of errors/issues that I come across.</li>
    <li>I will provide relevant feedback for the product, suggesting positives and negatives.</li>
    <li>I will address and avoid ergonomic issues when utilising the software.</li>
    <li>I will use the software for its ethically intended purpose.</li>
    <li>I will use not deter from the intent of the product and cause harm upon the individual, society, or environment.</li>
    <li>I will maintain confidentiality about this product in addition to its ideas.</li>
    <li>I will adhere to this Code of Conduct.</li>    
</ol>
<p id="agreement">By using this software, I agree to all outlined in this End User License Agreement.</p>
<div class="continue"><a href="/" id="btn">Continue</a></div>

</section>
{% endblock %}