{% extends "signup.html" %}

{% block title%}Forgot Password{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/forgot_password_style.css') }}" />{% endblock %}

{% block content %}
<!-- Change Password Email Form -->
<div class="center">
    <div class="container">
        <div class="text">Forgot Password</div>
        <div class="text-secondary">Enter your account's email and we'll send you an email to reset the password.</div>
        <form method="POST">
            <div class="data">
                <label for="email-address">Email Address</label>
                <input 
                    type="email-address" 
                    class="form-control" 
                    id="email-address" 
                    name="email-address"
                    required
                />
            </div>
            <div class="btn">
                <div class="inner"></div>
                <button type="submit">Send Email</button>
            </div>
        </form>
        <div class="signup-link">Remember the password? <a href="/login">Login</a></div>
    </div>
</div>
<!-- Change Password Email Form -->
{% endblock %}