<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home_style.css') }}"/>
    {% block style %}{% endblock %}
    <!--style link for animation-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
</head>

<body>
    <main>
<!-- Navigation Bar -->
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="/" class="logo-link">
                <div class="logo-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                    </svg>
                    <h2>A Website.</h2>
                </div>
            </a>
            </li>
    
            <li class="nav-item">
                <a href="/login" class='login' id="btn">Login</a>
            </li>
            <li class="nav-item">
                <a href="/sign-up" class='signup' id="btn">Sign Up</a>
            </li>
        </ul>
    </nav>
<!-- Navigation Bar -->


<!-- Website Introduction -->
{% block content %}
    <section id="title">
                <h1>Website.</h1>
                <h2>Log into a secure website, safe from cyber threats.</h2>
            <div class="learn-more">
            <h3>Learn more</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
            </svg>
            </div> 
    </section>

    <section id="description">
        <h2 data-aos="fade-bottom">Want security from people hacking your password?</h2>
        <div class="grid-container" data-aos="fade-right">
        <div class="grid-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
              </svg>
        </div>
        <div class="grid-item">
            <h3>We are here to help.</h3>
        </div>
        </div>
        <h2 data-aos="fade-bottom">Cyber threats are a scary thing.</h2>
        <div class="grid-container" data-aos="fade-right">
        <div class="grid-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>
        </div>
        <div class="grid-item">
        <h3>
            The aim of our product is to create a login system that keeps your information safe behind a encrypted password, ensuring that it cannot be hacked or obtained by others.
        </h3>
        </div>
        </div>
        <div><a href="/sign-up" id="btn">Get Started</a></div>
<!-- Website Introduction -->
        <div class="click_here"><p>Still unsure of what to do? <a id="click_here" href="/user-manual">Click Here.</a></p></div>
    </section>

<!-- Credit section -->
    <section id="credits">
        <h3>A Sign Up System.</h3>
        <p>This is a HSC Major Work project.</p>
        <br>
        <p>Logan Dube - NESA Number: 36363533. 2022-2023. All rights reserved.</p>
        <a href="/code-of-conduct">Legal Statements - Code of Conduct</a>
    </section>
    </main>
<!-- Credit section -->
{% endblock %}

    <!-- script for animation-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>