{% extends "signup.html" %}

{% block title %}New Password{% endblock %}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/reset_password_style.css') }}" />{% endblock %}


{% block content %}
<!-- Reset Password Form -->
<div class="center">
    <div class="container">
        <div class="text">Create New Password</div>
        <form method="POST">
            <div class="data">
                <div class="data">
                        <label for="email-address">Accounts Email Address</label>
                        <input 
                            type="email-address" 
                            class="form-control" 
                            id="email-address" 
                            name="email-address"
                            required
                        />
                </div>

                <div>
                    <label for="password1">New Password</label>
                    <input 
                        type="password"
                        class="form-control"
                        id="password1"
                        name="password1"
                        required>
                </div> 

                <div class="data">
                    <label for="password2">Confirm New Password</label>
                    <input 
                        type="password" 
                        class="form-control"
                        id="password2"
                        name="password2"
                        required>
                </div>
            <div class="btn">
                <div class="inner"></div>
                <button type="submit" >Create New Password</button>
            </div>
        </form>
        <div class="signup-link">Don't have an account? <a href="/sign-up">Sign up</a></div>
    </div>
</div>
<!-- Reset Password Form -->
{% endblock %}
