<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Password</title>
</head>

<!-- Forgot Password Email -->
<body
style="
 font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:  #2b1055;
    background: linear-gradient(to bottom right, rgb(5, 174, 163), #ffffff) fixed;
    padding: 10px;">
    <table border=0 cellspacing=0 cellpadding=0 width=700 style="margin: 0 auto;">
    <tr>
        <td width="50%" style="text-align: center;">
            <nav class="navbar">
                <ul class="navbar-nav" style="list-style: none; justify-content: center; padding: 10px; display: flex; flex-direction: row; align-items: center; position: relative;">
                    <li class="nav-item" style='font-weight: bold; font-size: 30px; text-transform: uppercase; letter-spacing: 0.2ch; margin-right: auto;'>
                            <h2>Login Website</h2>
                    </li>
                    <li class="nav-item" style="font-weight: bold; font-size: 15px; text-transform: uppercase; letter-spacing: 0.1ch; ">
                        <h2>Account Information</h2>
                    </li>
        </td>
    </tr>    
    <tr>    
        <td width="50%">
            <h1>Reset Your Account Password</h1>
            <p>Hi, you recently requested to change your password, <a href=""><strong>click here</strong></a> to create a new password!</p> <!--Use domain link-->
        </td>
    </tr>
    <tr>
        <td width="50%">
            <h2>We're here to help</h2>
            <p>Contact our team if you have any questions at logan.dube9@gmail.com</a></p>
        </td>
    </tr>
    </table>
</body>
<!-- Forgot Password Email -->
</html>


