{% extends "home.html" %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/user_manual_style.css') }}"/>{% endblock %}
{% block content %}
<section id="step-by-step">
    <h1>Step by Step of How to use this application.<h1>
    <br><br>
    <div class="user-manual">
        <h2>Signing Up</h2>
        <ol>
            <li>From landing page press ‘sign-up’ shown on the top right.</li>
            <li>From the redirected ‘sign-up’ page, input your correct email address, name, password that you would desire to use, then input the same password you used in the ‘confirm password’ section.</li>
            <li>Press ‘SIGN UP’ at the bottom of the form.</li>
            <li>If incorrect an error message pops up, fix what the message has displayed.</li>
            <li>If successful, you are now at the dashboard, from here you may change your details, access your history or add a note.</li>
        </ol>
        <br><br>
        <h2>Login In</h2>
        <ol>
            <li>From landing page press ‘login’ shown on the top right.</li>
            <li>From the ‘login’ page, input the correct email address and password that you used to sign-up with.</li>
            <li>Press ‘SUBMIT’ at the bottom of the form.</li>
            <li>If incorrect an error message pops up, fix what the message has displayed.</li>
        </ol>
        <br><br>
        <h2>Change Password Process</h2>
        <ol>
            <li>From Login page, select ‘Forgot Password?’</li>
            <li>Input the email to send the forgot password email to.</li>
            <li>Go to inputted email address and click on the link provided.</li>
            <li>Enter the Email linked to the account the new password and confirm the new password.</li>
            <li>Press ‘SUBMIT’.</li>
            <li>Login using the new password</li>
        </ol>
        <br><br>
        <h2>Changing Your Details</h2>
        <ol>
            <li>From Dashboard, go to ‘Change Account Details’ located in navigation bar.</li>
            <li>Select ‘Change Details’.</li>
            <li>Update the email and name to what you wish.</li>
            <li>Press ‘SUBMIT’.</li>
        </ol>
        <p>*Note password cannot be changed through this method, for security reasons.</p>
        <br><br>
        <h2>Adding Personal Information</h2>
        <ol>
            <li>On the Dashboard, enter the subject and body of the note.</li>
            <li>Press ‘SUBMIT’.</li>
            <li>To view past personal notes, go to history and scroll to find from newest to oldest dates.</li>
        </ol>
    </div>
    <div class="continue"><a href="/sign-up" id="btn">Get Started</a></div>
</section>
{% endblock %}